<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Groupay</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="index.css" />
    
    <script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      $(document).ready(function() {
        $("#create").click(create);
      });
      function create() {
        $.ajax({
          url: "/room",
          dataType: "json",
          data: {test: "something"}
        }).done(function(json) {
          window.location.href = "/room/";
        });
      }
    </script>

</head>

<body class="ui-mobile-viewport ui-overlay-a">
  <div data-role="page" id="testpage" data-url="testpage" tabindex="0" class=
  "ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" style=
  "padding-bottom: 35px; min-height: 527px;">
    <div class="ui-panel-wrapper">
      <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
        <h1 class="ui-title" role="heading" aria-level="1">Groupay</h1>
      </div>

      <div class="ui-content" role="main">
          <div class="ui-field-contain">
            <label for="name2">Room name:</label>
                <input type="text" name="room" id="name2" value="" data-clear-btn="true" />
          </div>

          <div class="ui-field-contain">
            <label for="name2">Paypal Username:</label>
                <input type="text" name="username" id="name2" value="" data-clear-btn="true" />
          </div>

          <div class="ui-field-contain">
            <label for="name2">Password</label>
                <input type="text" name="password" id="name2" value="" data-clear-btn="true" />
          </div>
        <div id="create" class="ui-btn ui-corner-all ui-shadow ui-btn-active">Submit</a>
      </div>


    </div><!-- /header -->
    <!-- /content -->
  </div><!-- /page -->
</body>
</html>
