<!DOCTYPE HTML>
<html class="ui-mobile" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content=
  "width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />

  <title>Groupay</title>
  <link rel="stylesheet" href="http://demos.jquerymobile.com/1.4.5/css/themes/default/jquery.mobile-1.4.5.min.css" type="text/css" />
  <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.js" type="text/javascript"></script>
  <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.mobile-1.4.5.min.js" type="text/javascript"></script>

  <script type="text/javascript" src="app.js"></script>

  <style type="text/css">
/*<![CDATA[*/
        .noshadow * {
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }
        form.ui-mini .ui-field-contain fieldset.ui-controlgroup legend small {
            color: #666;
        }
  /*]]>*/
  </style>
</head>

<body class="ui-mobile-viewport ui-overlay-a">
  <div data-role="page" id="testpage" data-url="testpage" tabindex="0" class=
  "ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" style=
  "padding-bottom: 35px; min-height: 527px;">
    <div class="ui-panel-wrapper">
      <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
        <h1 class="ui-title" role="heading" aria-level="1">Groupay</h1>
      </div>

      <div class="ui-content" role="main">
          <div class="ui-field-contain">
            <label for="name2">Room name:</label>
                <input type="text" name="room" id="name" value="" data-clear-btn="true" />
          </div>

        <div id="create" class="ui-btn ui-corner-all ui-shadow ui-btn-active">Submit</a>
      </div>


    </div><!-- /header -->
    <!-- /content -->
  </div><!-- /page -->
</body>
</html>
