<!DOCTYPE HTML>
<html class="ui-mobile" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content=
  "width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />

  <title>Groupay</title>
  <link rel="stylesheet" href="http://demos.jquerymobile.com/1.4.5/css/themes/default/jquery.mobile-1.4.5.min.css" type="text/css" />
  <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.js" type="text/javascript"></script>
  <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.mobile-1.4.5.min.js" type="text/javascript"></script>
  <style type="text/css">

<script src="/card.js"></script>

<script type="text/javascript">
  $(document).live('mobileinit', function() {
    $.mobile.ajaxLinksEnabled = false;
    });
</script>

/*<![CDATA[*/
        .noshadow * {
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }
        form.ui-mini .ui-field-contain fieldset.ui-controlgroup legend small {
            color: #666;
        }
  /*]]>*/
  </style>

</head>

<body class="ui-mobile-viewport ui-overlay-a">
  <div data-role="page" id="testpage" data-url="testpage" tabindex="0" class=
  "ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" style=
  "padding-bottom: 35px; min-height: 527px;">
    <div class="ui-panel-wrapper">
      <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
        <h1 class="ui-title" role="heading" aria-level="1">Groupay</h1>
      </div>

      <div class="ui-content" role="main">

          <div class="ui-field-contain">
            <h1><%= name %></h1>
          </div>

          <div class="ui-field-contain">
            <label for="name2">Description:</label>
                <input type="text" name="room" id="name2" value="" data-clear-btn="true" />
          </div>

          <div class="ui-field-contain">
            <label for="name2">Price:</label>
                <input type="text" name="username" id="name2" value="" data-clear-btn="true" />
          </div>
         <fieldset data-role="controlgroup" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
            <div role="heading" class="ui-controlgroup-label"><legend>Choose a payment type:</legend></div>
            <div class="ui-controlgroup-controls ">
                <div class="ui-radio">
                    <label for="radio-choice-1" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Pay Now</label>
                    <input type="radio" name="radio-choice-1" id="radio-choice-1" value="paynow">
                </div>

                <div class="ui-radio">
                    <label for="radio-choice-2" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off ui-last-child">Hold Money</label>
                    <input type="radio" name="radio-choice-2" id="radio-choice-2" value="hold">
                </div>
            </div>
          </fieldset>

          <div id="create" class="ui-btn ui-corner-all ui-shadow ui-btn-active">Submit</div>


            <ul data-role="listview" data-inset="true" data-divider-theme="a" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
                    <li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-a ui-first-child">Current Items</li>
                    <li data-icon="gear" class="ui-last-child"><a href="/item/kjndskjnfd" rel="external" class="ui-btn ui-btn-icon-right ui-icon-gear">Flight - $300 - Pay Now</a></li>
            </ul>


      </div>


    </div><!-- /header -->
    <!-- /content -->
  </div><!-- /page -->
</body>
</html>
